@import "../../../scss/_fonts.scss";

.WorkModalList {
  color: white;
  width: 60%;
  margin-right: 30px;
  text-align: left;
  list-style: none;
}

.WorkModalListTitle {
  font-size: $work-modal-list-title-small;
}

.WorkModalListItem {
  padding: 5px;
  font-size: $work-modal-list-small;
}

.WorkModalListItem::before {
  content: "👨🏻‍💻";
  padding-right: 20px;
  margin-left: -35px;
  font-size: 15px;
}

.WorkModalPhotoCaption {
  font-size: $work-modal-photo-caption-small;
}

@media (min-width: 768px) {
  .WorkModalContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
  }

  .WorkModalListTitle {
    font-size: $work-modal-list-title;
  }

  .WorkModalListItem {
    padding: 5px;
    font-size: $work-modal-list;
  }

  .WorkModalPhotoCaption {
    font-size: $work-modal-photo-caption;
  }
}

@media (min-width: 1250px) {
  .WorkModalListTitle {
    font-size: $work-modal-list-title-large;
  }

  .WorkModalListItem {
    padding: 10px;
    font-size: $work-modal-list-large;
  }

  .WorkModalPhotoCaption {
    font-size: $work-modal-photo-caption-large;
  }
}
