.Hobbies {
  text-align: center;
  padding: 50px 40px;
}

.HobbiesHeader {
  display: flex;
  text-align: center;
  align-content: center;
  justify-content: center;
}

.HobbiesPhotographs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

@media (min-width: 768px) {
  .Hobbies {
    padding: 50px 40px;
  }
}

@media (min-width: 1250px) {
  .Hobbies {
    padding: 120px 100px;
  }

  .HobbiesPhotographs {
    margin: 0px 100px;
  }
}
