.Hobbies {
  text-align: center;
  padding: 120px 100px;
  width: 90vw;
}

.HobbiesHeader {
  display: flex;
  text-align: center;
  align-content: center;
  justify-content: center;
}

.HobbiesPhotographs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px 100px;
}
