@import "../../../scss/_fonts.scss";

.Photograph {
  padding: 20px 20px 40px 20px;
  margin: 0 0 40px 0;
  max-height: 250px;
  max-width: 200px;
  background: #ededed;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: black;
}

.Photograph img {
  max-width: 100%;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Photograph h3 {
  font: $photograph-text-small;
  margin: 0;
}

.Photograph p {
  font-size: $caption-text-small;
  margin: 10px 0 5px 0;
}

.ModalPhotograph {
  padding: 20px;
  max-height: 200px;
  max-width: 150px;
  background: #ededed;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: black;
  margin-top: 0;
}

.ModalPhotograph img {
  max-width: 100%;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (min-width: 768px) {
  .Photograph {
    max-height: 150px;
    max-width: 200px;
    padding: 30px 30px 160px 30px;
    margin: 20px;
  }

  .Photograph h3 {
    font: $photograph-text;
  }

  .Photograph p {
    font-size: $caption-text;
  }

  .Photograph:hover {
    padding-top: 40px;
    transform: scale(1.1);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    z-index: 2;
  }

  .ModalPhotograph {
    padding: 20px 20px 120px 20px;
    max-height: 200px;
    max-width: 200px;
  }
}

@media (min-width: 1250px) {
  .Photograph {
    margin: 0px 20px 50px 20px;
    padding: 30px 30px 150px 30px;
    max-height: 300px;
    max-width: 300px;
  }

  .Photograph p {
    font-size: $caption-text-large;
    margin: 20px;
  }

  .Photograph:first-child,
  .Photograph:nth-child(7) {
    -ms-transform: rotate(15deg); /* IE 9 */
    transform: rotate(15deg);
    z-index: 1;
  }

  .Photograph:nth-child(3),
  .Photograph:nth-child(9) {
    margin-top: 100px;
  }

  .Photograph:nth-child(3):hover,
  .Photograph:nth-child(9):hover {
    margin-top: 100px;
  }

  .Photograph:nth-child(5),
  .Photograph:nth-child(11) {
    -ms-transform: rotate(-15deg); /* IE 9 */
    transform: rotate(-15deg);
  }

  .Photograph:first-child:hover,
  .Photograph:nth-child(7):hover {
    margin-right: 50px;
    margin-left: 50px;
  }

  .Photograph:nth-child(5):hover,
  .Photograph:nth-child(11):hover {
    margin-left: 70px;
  }

  .Photograph:first-child,
  .Photograph:nth-child(5),
  .Photograph:nth-child(7),
  .Photograph:nth-child(11) {
    margin-top: 30px;
  }

  .Photograph:first-child:hover,
  .Photograph:nth-child(3):hover,
  .Photograph:nth-child(5):hover,
  .Photograph:nth-child(7):hover,
  .Photograph:nth-child(9):hover,
  .Photograph:nth-child(11):hover {
    transform: scale(1.1);
    padding-top: 30px;
  }

  .ModalPhotograph {
    padding: 20px 20px 40px 20px;
    max-height: 300px;
    max-width: 250px;
  }
}
