@import "../../../../../scss/colours";

.NavigationItem {
  margin: 10px 0px;
  box-sizing: border-box;
  width: 100%;
  padding: 5% 15%;
}

.NavigationItem a {
  color: $text-primary;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  display: flex;
}

.NavigationItem a:hover,
.NavigationItem a:focus {
  color: $sea-blue;
  height: 100%;
}

@media (min-width: 500px) {
  .NavigationItem {
    height: 90%;
    width: auto;
    display: flex;
    align-items: center;
    margin: 0 15px;
    padding: 0;
  }

  .NavigationItem a {
    height: 90%;
    padding: 10px;
  }

  .NavigationItemHome:hover,
  .NavigationItemHome:focus {
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🏡</text></svg>") 16 0,auto; /*!emojicursor.app*/
  }

  .NavigationItemSkills:hover,
  .NavigationItemSkills:focus {
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>💻</text></svg>") 16 0,auto; /*!emojicursor.app*/
  }

  .NavigationItemWork:hover,
  .NavigationItemWork:focus {
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>👨🏻‍💻</text></svg>") 16 0,auto; /*!emojicursor.app*/
  }

  .NavigationItemEducation:hover,
  .NavigationItemEducation:focus {
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🎓</text></svg>") 16 0,auto; /*!emojicursor.app*/
  }

  .NavigationItemHobbies:hover,
  .NavigationItemHobbies:focus {
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🏊🏻</text></svg>") 16 0,auto; /*!emojicursor.app*/
  }

  .NavigationItemPortfolio:hover,
  .NavigationItemPortfolio:focus {
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>📂</text></svg>") 16 0,auto; /*!emojicursor.app*/
  }

  .NavigationItemContact:hover,
  .NavigationItemContact:focus {
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>📱</text></svg>") 16 0,auto; /*!emojicursor.app*/
  }
}
