@import "../../../scss/_fonts.scss";

.JustPark {
  color: #1fa637;
}

.JustParkSections {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

.JustParkCardContainer {
  width: 100%;
}

.JustParkCard {
  font-size: $card-small;
  height: 80px;
  text-shadow: 1.5px 1.5px 1px #1fa637;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.JustParkCardDate {
  font-size: $card-smaller;
}

@media (min-width: 768px) {
  .JustParkCard {
    font-size: $card-mid;
    height: 180px;
  }

  .JustParkCardDate {
    font-size: $card-small;
  }

  .JustParkCardContainer {
    width: 25%;
  }
}
