@import "../../scss/_fonts.scss";

.Work {
  text-align: center;
  padding: 120px 100px;
  width: 90vw;
}

.WorkHeader {
  display: flex;
  text-align: center;
  align-content: center;
  justify-content: center;
}
