.Work {
  text-align: center;
  padding: 50px 40px;
}

.WorkHeader {
  display: flex;
  text-align: center;
  align-content: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .Work {
    padding: 50px 40px;
  }
}

@media (min-width: 1250px) {
  .Work {
    padding: 120px 100px;
  }
}
