// Colours

$white: white;
$black: #151515;
$blue: steelblue;
$lightblue: #3E9CDA;
$dark-blue: #02162f;
$sea-blue: #06515b;

// Allias

$primary: $blue !default;
$secondary: $lightblue;
$tertiary: $dark-blue;
$background-primary: $sea-blue;
$text-primary: $white;
$text-secondary: $black;
$header-primary: $white;
