// Colours

$red: red;
$medium-red: #d90000;
$medium-red-two: #c00000;
$dark-red: #580000;
$dark-red-two: #3f0000;
$black: #151515;
$white: white;
$blue: steelblue;
$lightblue: #3E9CDA;

// Allias

$primary: $blue !default;
$secondary: $lightblue;
$tertiary: $dark-red-two;
$fourth: $medium-red-two;
$background-primary: $black;
$text-primary: $white;
$text-secondary: $black;
$header-primary: $white;
