@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

$primary-font: "Lobster", cursive;
$book-font: "Lora", serif;
$the-cerberus-affair-font: 'Oswald', sans-serif;
$connected-learning-font: 'Arial', sans-serif;

$header-text-small: 500 40px $primary-font;
$header-text: 500 80px $primary-font;
$header-text-large: 500 100px $primary-font;

$subheader-text-small: 200 30px $primary-font;
$subheader-text: 200 35px $primary-font;
$subheader-text-medium: 200 40px $primary-font;
$subheader-text-large: 200 60px $primary-font;

$paragraph-small: 10px;
$paragraph: 16px;
$paragraph-large: 17px;

$button-text-small: 10px;
$button-text: 20px;
$button-text-large: 25px;

$card-smaller: 15px;
$card-small: 20px;
$card-mid: 25px;
$card: 30px;
$card-big: 35px;
$card-large: 40px;

$cloud-text-small: 11px;
$cloud-text: 20px;
$cloud-text-large: 30px;

$cloud-stars-small: 5px;
$cloud-stars: 8px;
$cloud-stars-large: 20px;

$work-modal-list-title-small: 15px;
$work-modal-list-title: 20px;
$work-modal-list-title-large: 25px;

$work-modal-list-small: 10px;
$work-modal-list: 13px;
$work-modal-list-large: 15px;

$work-modal-photo-caption-small: 10px;
$work-modal-photo-caption: 11px;
$work-modal-photo-caption-large: 15px;

$chapter-title-small: 700 20px $book-font;
$chapter-title: 700 25px $book-font;
$chapter-title-large: 700 30px $book-font;

$book-text-small: 12px;
$book-text: 13px;
$book-text-large: 16px;
$book-large: 700 3em/0.65 $book-font;

$photograph-text-small: 500 20px $primary-font;
$photograph-text: 500 25px $primary-font;
$photograph-text-large: 500 40px $primary-font;

$caption-text-small: 10px;
$caption-text: 15px;
$caption-text-large: 16px;

$portfolio-modal-text-small: 13px;
$portfolio-modal-text: 13px;
$portfolio-modal-text-large: 16px;

$the-cerberus-affair-text-small: 500 25px $the-cerberus-affair-font;
$the-cerberus-affair-text: 500 30px $the-cerberus-affair-font;
$the-cerberus-affair-text-large: 500 50px $the-cerberus-affair-font;

$connected-learning-small: 500 25px $connected-learning-font;
$connected-learning: 500 30px $connected-learning-font;
$connected-learning-large: 500 50px $connected-learning-font;

$footer-small: 10px;
$footer: 14px;

